
$dk-red: #C24332;

@-webkit-keyframes loading{
    0% {left:-40px; top:0;}
    50% {left:100%; top:0;}
    100% {left:-40px; top:0;}
}

@keyframes loading {
    0% {left:-40px; top:0;}
    50% {left:100%; top:0;}
    100% {left:-40px; top:0;}
}

@-webkit-keyframes blink {
    0% {opacity: 0.5;}
    50% {opacity: 1;}
    100% {opacity: 0.5;}
}

@keyframes blink {
    0% {opacity: 0.5;}
    50% {opacity: 1;}
    100% {opacity: 0.5;}
}

@-webkit-keyframes slide-up {
    0% {left: 0; top:0; position: absolute;}
    50% {left: 0; top: -80vh; position: absolute;}
    100% {left: 0; top: -160vh; visibility: hidden;}
}

@keyframes slide-up {
    0% {left: 0; top:0; position: absolute;}
    50% {left: 0; top: -80vh; position: absolute;}
    100% {left: 0; top: -160vh; visibility: hidden;}
}

@keyframes message-occur {
    from {position:absolute; opacity: 0;}
    to {position:relative; opacity: 1;}
}

@-webkit-keyframes message-occur {
    from {position:absolute; opacity: 0;}
    to {position:relative; opacity: 1;}
}

@keyframes occur {
    from {opacity:0;}
    to {opacity:1;}
}

@-webkit-keyframes occur {
    from {opacity:0;}
    to {opacity:1;}
}

@-webkit-keyframes skill-hover {
    0% {transform: scale(1);}
    50% {transform: scale(1.2);}
    100% {transform: scale(1);}
}

@keyframes skill-hover {
    0% {transform: scale(1);}
    50% {transform: scale(1.2);}
    100% {transform: scale(1);}
}

@-webkit-keyframes rise {
    from {left:0; top:1000;}
    to {left:0; top:0;}
}

@keyframes rise {
    from {left:0; top:1000;}
    to {left:0; top:0;}
}

@-webkit-keyframes reveal {
    0% {width: 0%}
    50% {width: 100%}
    75% {width: 100%}
    100% {width: 0}
}

@keyframes reveal {
    0% {width: 0%}
    50% {width: 100%}
    75% {width: 100%}
    100% {width: 0}
}

@-webkit-keyframes switch {
    0% {width: 0}
    25% {width: 100%; background-color: $pl-dark;}
    50% {width: 100%; background-color: $dk-red;}
    75% {width: 100%; background-color: $dk-red;}
    100% {width: 0; background-color: $dk-red;}
}

@keyframes switch {
    0% {width: 0}
    25% {width: 100%; background-color: $pl-dark;}
    50% {width: 100%; background-color: $dk-red;}
    75% {width: 100%; background-color: $dk-red;}
    100% {width: 0; background-color: $dk-red;}
}

@-webkit-keyframes img-up {
    from {z-index:1;}
    to {z-index: -1}
}

@keyframes img-up {
    from {z-index:1;}
    to {z-index: -1}
}
